@import "header.css"; 
@import "main.css"; 
@import "footer.css"; 
@import "hamburger.css";

/*
    ███████╗ ██████╗ ███╗   ██╗████████╗███████╗
    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
    █████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
    ██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
    ██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
    ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝                                                
*/
@font-face {
    font-family: aff-regular;
    src: url(../blog/fonts/AbrilFatface-Regular.ttf);
}
@font-face {
    font-family: pixel-operations-thin;
    src: url(../blog/fonts/PixelOperator.ttf);
}
@font-face {
    font-family: pixel-operations-bold;
    src: url(../blog/fonts/PixelOperator8.ttf);
}
@font-face {
    font-family: pixel-operations-extraBold;
    src: url(../blog/fonts/PixelOperator8-Bold.ttf);
}
 
header .home-link{
    font-family: pixel-operations-extraBold;
}
header .nav-item {
    font-family: pixel-operations-bold;
}

footer .txt-copyrights {
    font-family: pixel-operations-thin;
} 

footer .txt-title {
    font-family: pixel-operations-bold;
} 


/*
     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗
    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝
    ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗
    ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║
    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║
     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
*/   
:root {                                                    
    --color-primary: rgb(0, 42, 179, 1);
    --color-primary-text: white;

    --color-secondary: rgba(0, 225, 255, 0.582);
    --color-secondary-text: black;

    --color-text: black;

    --shadow-header-main-footer: -4px 5px 20px 12px #888888;
}

.carbon_fiber {
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}


/*
        ██████╗  ██████╗ ██████╗ ██╗   ██╗  
        ██╔══██╗██╔═══██╗██╔══██╗╚██╗ ██╔╝  
        ██████╔╝██║   ██║██║  ██║ ╚████╔╝   
        ██╔══██╗██║   ██║██║  ██║  ╚██╔╝    
        ██████╔╝╚██████╔╝██████╔╝   ██║     
        ╚═════╝  ╚═════╝ ╚═════╝    ╚═╝     
*/
body {
    margin: 0;
}


/*
    ██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
    ██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
    ███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
    ██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
    ██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
    ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝                                           
*/ 
:root {  
    --header-height: 85px;
    --header-height-max: 33vh;
    --header-height-mobile-close: 85px;
    --header-height-mobile-open: 100%;   

    --header-width-desktop: 98%;
    --header-width-mobile: 100%;

    --header-categories-font-size-desktop: 1rem;
    --header-categories-font-size-mobile: 2.5rem;
}

/* 
    ███╗   ███╗ █████╗ ██╗███╗   ██╗
    ████╗ ████║██╔══██╗██║████╗  ██║
    ██╔████╔██║███████║██║██╔██╗ ██║
    ██║╚██╔╝██║██╔══██║██║██║╚██╗██║
    ██║ ╚═╝ ██║██║  ██║██║██║ ╚████║
    ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝                              
*/
:root {

}


/*
    ███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
    ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
    █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
    ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
    ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
    ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
*/
:root {
    --footer-height: 75vh;
}

.flex-row { 
    display: flex !important;
    flex-direction: row !important;
}

.flex-col { 
    display: flex !important;
    flex-direction: column !important;
}