footer.site-footer { 
    position: fixed;
    height: var(--footer-height);
    width: 100%;
    bottom: 0;  
    left: 0;
    margin: 80% 0 0;
    z-index: -1;

    display: flex;
    flex-direction: column;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

footer.site-footer > *:not(:last-child) { 
    width: 85%;
    margin: auto;
    padding: 0 20px 50px;
}

footer.site-footer .txt { color: white; }

footer.site-footer  .flex-col:first-child { 
    flex-basis: 35%;
    padding: 0 20px 0 20px;
}
footer.site-footer .flex-col:not(:first-child) { 
    flex: 15%;
    padding: 0 20px 0 20px;
}

.logo { 
    height: 100px;
    width: 100px;
}

.txt-copyrights { 
    padding-bottom: 10px;
    text-align: center;
}

