header #nav-toogler { 
  position: absolute;
  right: 0;
  margin: 20px;
  width: 60px;
  height: 45px; 

  display: block;
  color: white; 
  cursor: pointer;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
} 
@media only screen and (min-width: 769px) 
{
  header #nav-toogler { 
      display: none !important;
  }
}
  
header #nav-toogler span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
  
header #nav-toogler span:nth-child(1) {
  top: 0px;
}

header #nav-toogler span:nth-child(2) {
  top: 18px;
}

header #nav-toogler span:nth-child(3) {
  top: 36px;
}

header #nav-toogler.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

header #nav-toogler.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

header #nav-toogler.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}