header {
    position: fixed;
    width: 100%;
    top: 0;
    /* transition: top 600;  */
    left: 0;
    height: var(--header-height);
    z-index: 200;

    background: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    box-shadow: -4px 5px 20px 12px #888888;

    padding-top: 3px;
    align-items: flex-start;
}

header.open {
    height: var(--header-height-max);
}

header .header-logo-home {
    position: absolute;
    left: 0;

    display: flex;
    align-items: center;

    font-size: 1.5rem;
    font-weight: bolder;
}


header .header-logo-home .home-link {
    /* align-self: flex-end; */
}


header .nav-item.nav-categories.open {
    /* margin-top: 80px; */
    flex-direction: column;
    /* width: 100%; */
}



header .nav-item-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
 

header .header-nav.open {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
}

header .header-nav .nav-categories-wrapper {
    position: relative; 
    padding-top: 35px; 
    display: none;
    flex-direction: column;
    position: absolute;
    color: white;
}

header .header-nav .nav-categories-wrapper.open {
    display: flex;
}

header .header-nav .nav-categories-wrapper .nav-categories-item {
    color: white; 
    text-decoration: none; 
}
@media only screen and (min-width: 768px) {
    header .header-nav {
        width: 100%; 
        height: 100%;
        padding-left: 30%;
        padding-top: 30px;
        display: flex; 
    }
    header .header-nav .nav-categories-wrapper .nav-categories-item {
        font-size: 12px;
        margin-bottom: 10px
    }

}

@media only screen and (max-width: 768px) {
    header {
        position: fixed;
        height: var(--header-height-mobile-close);
        width: var(--header-width-mobile);

        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    header.open {
        height: var(--header-height-mobile-open);
    }

    header .header-nav {
        display: none;
        margin-top: 0;
    }
    header .header-nav.open {
        width: 100%; 
        height: 100%;
        /* margin-top: 80px; */
        flex-direction: column;
        align-items: flex-end;
    }

    header .header-nav.open .nav-item-wrapper {
        flex-direction: column;
        align-items: center;
        padding-top: 120px;
    }
     header .header-nav .nav-categories-wrapper.open {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

    }   

    header .nav-item.open {
        font-size: 2.3rem;
        display: block;
        padding-bottom: 20px;
    }

    header .header-nav .nav-categories-wrapper .nav-categories-item{
        font-size: 2rem;
        margin-bottom: 20px;
    }
   
}

/* .showHeader {
    transition: 2s;
    top: -100px;
} */

header .header-logo-home .home-link,
header nav .nav-item {
    color: var(--color-primary-text);
    text-decoration: none;
    cursor: pointer;
}




header .site-logo {
    width: 60px;
    padding: 10px;
}

