main { 
    position: relative;
    width: 100%;
    top: 0;
    padding : var(--header-height) 0 20%;
    margin-bottom: var(--footer-height); 
    z-index: 100;
    
    background: #fff;
    overflow: hidden;
    box-shadow: var(--shadow-header-main-footer)
    
}
.body-wrapper{
    display: flex;
    justify-content: center;
}
.body-content {
    width: 70%;
    max-width: 1920px;
}