<footer class="site-footer carbon_fiber">
    <div class="flex-row">
        <div class="flex-col">
            <img class="logo" src="media/logo.png"/>
            {% comment %} <div class="txt">Donec efficitur venenatis eros, sed condimentum justo gravida ac. Morbi tristique, massa non dignissim hendrerit, urna dui luctus nulla, at ultrices diam ex eget nisl. Proin quis rhoncus dolor. Aliquam eget mollis lacus, vel gravida nunc. Nunc congue quam risus, in volutpat purus commodo id. Ut eget libero eget felis dignissim pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin in aliquam tellus. Nullam convallis dolor ut leo vulputate ullamcorper. Duis porta orci sit amet sapien vehicula, in accumsan augue vestibulum. Mauris auctor dui quis elit ornare commodo. Integer viverra elementum nulla a mattis. Nunc non ipsum ut metus luctus mollis. Proin in orci lobortis arcu tempor pellentesque. </div> {% endcomment %}
        </div>
        <div class="flex-col">
            <div class="txt txt-title">Categories</div>
            {% for cat in categories %}
            <div></div>
            {% endfor %}
        </div>
        <div class="flex-col">
            <div class="txt txt-title">Recent Posts</div>
            <div></div>
        </div>
        <div class="flex-col">
            <div class="txt txt-title">What We Do</div>
            <div></div>
            <div class="txt txt-title">Legal</div>
            <div></div>
        </div> 
    </div>
    {% comment %} <div class="txt txt-title">Sed facilisis orci maximus sem feugiat ultrices. Aliquam sodales aliquet dictum. Duis in ante at lectus consectetur luctus non vel est. Curabitur sed bibendum nibh. Vivamus ligula libero, sodales sed turpis et, tincidunt auctor ipsum. Nam eu lectus aliquam, laoreet velit imperdiet, elementum lectus. Cras quam libero, dignissim vitae maximus at, mattis et nibh. </div> {% endcomment %}
    <div class="txt txt-copyrights"> Copyright C  Bi-Fi</div>
</footer>