{% load static %}


<script src="{% static "blog/js/header.js" %}" type="text/javascript"></script>

<header class="site-header carbon_fiber">
  <div class="header-logo-home">
      <img class="site-logo" src="{% static 'blog/img/logo.png' %}" />
      <a class="home-link" href="{% url 'blog-home' %}">BiT-eFi</a>
  </div>
  <nav class="header-nav"> 
    <div class="nav-item-wrapper">
      <div class="nav-item nav-categories" href="{% url 'blog-home' %}">Categories 

        <div class="nav-categories-wrapper">
          {% comment %} INJECT CATEGORIES {% endcomment %}
        </div>
      </div>
      <div class="nav-item" href="{% url 'blog-about' %}">About Us</div>
      <div class="nav-item" href="{% url 'blog-contacts' %}">Reach Out</div>
    </div>
  </nav>
  {% comment %}
  <div class="header-links">
      {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a> 
        <a class="nav-item" href="{% url 'profile' %}">Profile</a>
        <a class="nav-item" href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a class="nav-item" href="{% url 'login' %}">Login</a>
        <a class="nav-item" href="{% url 'register' %}">Register</a>
      {% endif %}
  </div> 
  {% endcomment %}
  <div id="nav-toogler">
  <span></span>
  <span></span>
  <span></span>
</div><div>
</header>