{% extends "blog/base.html" %}
{% block content %}

{% comment %} postListing {% endcomment %} 
    {% for post in posts %} 
        <article class="">
          <img class="" src="{{ post.author.profile.image.url }}">
          <div class="post-wrapper">
            <div class="post-content">
              <div>
                <a class="" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
              </div>
              <div>
                <small class="">{{ post.created|date:"F d, Y" }}</small>
                <h2><a class="" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="">
                  
                  {{ post.content|safe }}
                </p> 
              </div>
            </div>
          </div>
        </article>
    {% endfor %}
{% comment %} endPostListing {% endcomment %}
  

{% comment %} pagination {% endcomment %}
    {% if is_paginated %}
      {% if page_obj.has_previous%}
          <a class="" href="?page=1">First</a>
          <a class="" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} 
            <a class="" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next%}
          <a class="" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class="" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}

{% endblock content %}
{% comment %} endPagination {% endcomment %}