{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {% comment %} {{ form|crispy }} {% endcomment %}
                {{ form.media }}
                {{ form.as_p }}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create Post</button>
            </div>
        </form>
    </div>
{% endblock content %}
